<br><br><br><br><br><br>

<div class="sup_banner">
            		<h1>Selling online <span>made easy</span></h1>  
            		<h3>MarketFreer provides everything you need to<br /> start a successfull online store.</h3><br><br>

                    <h1>Create account get <span>Orders</span></h1><br>
                    <h1>Increase <span>Opportunities</span></h1>
         </div> 

    <form id ="suppliers_signup_form" action="/Home/SignupHandler" method="post">
        <h2> Sign Up and Start </h2>
        <ul>
            <li>
                <input type="text" name="sup_name" id ="sup_name" placeholder="Enter your Name" />
            </li>
            <li>    
                <input type ="text" name="sup_username" id="sup_username" placeholder="Enter your User Name" />
            </li>
            <li>
                <input type="password" name="sup_password1" id="sup_password1" placeholder="Enter your Password" />
            </li>
            <li>
                <input type="password" name="sup_password2" id="sup_password2" placeholder="Re-Enter Your Password" />
            </li>
            <li>
                <input type="email" name="sup_email" id="sup_email" placeholder="Enter your Email Address" />
            </li>
            <li>
                <input type="tel" name="sub_cellnumber" id="sup_cellnumber" placeholder="Enter your Cell Number" />

            </li>
            <li>
                <input type="text" name="sup_shopaddress" id="sup_shopaddress" placeholder="Enter your Shop Address">
            </li>
            <li>
                <input type="submit" name="submit" id ="submit" value="Sign up">
                </li>
        </ul>
</form>